<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Interview Well Prediction App</title>
    </head>
    <body>
        <form action="/" method="post">
            <input type="text" name="style"></input><br>
            <input type="text" name="abv"></input><br>
            <input type="text" name="brewery_rating"></input><br>
            <input type="text" name="brewery_country"></input><br>
            <input type="submit" value="Predict Interviewed Well!"></input>
          </form>
          <p>Prediction: {{prediction}}</p>
    </body>
</html>