<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Interview Well Prediction App</title>
    </head>
    <body>
        <form action="/" method="post">
            <input type="text" name="style" placeholder="Style"></input><br>
            <input type="text" name="abv" placeholder="ABV % "></input><br>
            <input type="text" name="brewery_rating" placeholder = "Country"></input><br>
            <input type="text" name="brewery_country" placeholder="brewery_rating"></input><br>
            <input type="submit" value="Predict Beer rating"></input>
          </form>
          <p>Prediction: {{prediction}}</p>
    </body>
</html>